<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="de.jwahle.xperiasstatusbartogglesremover"
	android:versionCode="2"
	android:versionName="2.0" >

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="16"
		tools:ignore="OldTargetApi" />

	<uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/launcher_icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<meta-data
			android:name="xposedmodule"
			android:value="true" />
		<meta-data
			android:name="xposedminversion"
			android:value="2.0*" />
		<meta-data
			android:name="xposeddescription"
			android:resource="@string/xposed_descrition" />

		<activity
			android:name=".PreferencesActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>